:root {
  --base-font-size: 15px;
  --content-max-width  : 100em;
  --navbar-root-margin  : 0 0 0 .5em;
  --sidebar-nav-strong-padding : 1em 0;

  --sidebar-nav-pagelink-background-position          : 0px center;
  --sidebar-nav-pagelink-padding                      : 0.0em 0 0.0em 20px;

  /* Nav Container */
  --sidebar-nav-background                      : ;
  --sidebar-nav-indent                          : 0em;

  /* Base */
  --base-line-height     : 1.7;

  /* Links */
  --link-border-bottom                : ;
  --link-border-bottom--hover         : ;
  --link-color                        : var(--theme-color);
  --link-color--hover                 : var(--theme-color);
  --link-text-decoration              : none;
  --link-text-decoration--hover       : underline;
  --link-text-decoration-color        : var(--theme-color);
  --link-text-decoration-color--hover : var(--theme-color);

  /* Code */
  --code-font-family                  : Roboto, Helvetica, Arial, sans-serif;
  --code-font-size                    : calc(var(--font-size-m) * 0.895);
  --code-inline-border-radius         : var(--border-radius-s);
  --code-inline-margin                : 0 0.15em;
  --code-inline-padding               : 0.125em 0.4em;
}


p {
  margin-top: 1.0em;
  margin-bottom: 0.0em;
  margin-left: 0;
  margin-right: 0;
}

figure figcaption {
  text-align: center;
}

